@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #faf6e9;
  font-family: "Space Grotesk", system-ui, sans-serif;
}

.neo-border {
  border: 4px solid #000000;
}

.neo-shadow {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

.neo-shadow-lg {
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}

.neo-shadow-sm {
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}
